* {
	padding: 0;
	margin: 0;
}
body{
	background-color: white !important;
	font-family: 'Playfair Display', serif !important;
	color: black !important;
}




#home-section{
	background-image:url("img/premiumproducts.jpeg");
	min-height: 700px;
	background-size: cover;
	background-attachment: fixed;
}

.dark-overlay{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
}
.home-inner{
	padding-top: 200px;
	color: white;
}




.navbar{
	margin: 0 !important;
	border-bottom: 2px solid green;
	opacity: .8 !important;
	color: black;


}

.collapse ul> li > a{
	font-size: 1.3em;
	color: black !important;
}

.active, .collapse ul> li > a:hover{
	color: green !important;
	
}




.container-fluid{
	background-color: green;
	border-bottom: blue 3px solid;
	opacity: 0.8;

	/*margin: 0 !important;
	padding: 0 !important;*/
}
.socialIcons{
	font-size: 1.9em;
}

.carousel{

	/*border-radius: 10px 0 !important;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	border-top: 2px solid green !important;
	border-bottom: : 2px solid green !important;
/*	margin-top: 20px !important;	
	margin-left: 20px !important;
	margin-right: 20px !important;*/
}
.carousel-inner img{
	width: 700px;
	max-height: 700px;
	/*border-radius: 0 10px !important;*/
	
}

.carousel-caption{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0.4);
	
}

#contact h2 h4{
	padding-bottom: 20px;
}

#contact li{
	padding: 10px !important;
}
#contact li a{
	color: green;
}



.card-deck {
	
	margin:30px 30px !important;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#footer{
	padding:20px;
	border-top: 2px solid green;
	border-bottom: 1px solid green: 
}
#footer img{
	width: 200px
}
#footer li{
	padding:10px !important;

}
#footer li a{
	color: green;

}

#footer p{
	text-align: center !important;
}
footer p{
	margin:0 !important;
}
