* {
	padding: 0;
	margin: 0;
}
body{
	background-color: beige !important;
}
header {
	
	padding: 20px;
	text-align: center;
	text-decoration: none;
	list-style: none;
	background-color: green;

}

nav{
	text-align: left;
	margin-top: 20px;
	color: white;
}
nav li{
	display: inline-block;
	padding: 20px 20px;
}
nav li a{
	color: white;
}

a:link{
	text-decoration: none;
}
.navcol{
	display: flex;
}



.container-fluid{
	background-color: green;
	border-bottom: blue 3px solid;
	opacity: 0.8;

	/*margin: 0 !important;
	padding: 0 !important;*/
}
.socialIcons{
	font-size: 1.9em;
}

.carousel{
	border-radius: 10px !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	margin-top: 20px !important;	
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.carousel img{

	border-radius: 10px !important;
	max-height: 700px;
}
.card-deck {
	
	margin:30px 30px !important;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
